
body{
    margin: 0;
    background-color: gray;
    font-family: 'Poppins', sans-serif;;
}
.header {
    height: 80px;
    background-color: darkslategrey;
    width: 100%;
    overflow: auto;
}
.logo{
    position: absolute;
    top: 20px;
    margin-left: 21px;
    float: left;
    height: 40px;
}
.header h2{
    margin: 0;
    text-align: center;
    line-height: 80px;
    font-weight: 700;
    color: aliceblue;
    letter-spacing: 4px;
}
.back{
    background-color: black;
    color: white;
    border-radius: 25px;
}
.Container{
    display: grid;
    grid-template-columns:2fr 1fr 1fr 1fr;
    grid-template-rows: 100px 150px 200px;
    grid-gap: 60px;
    margin: 40px;
}
.sidebar{
    grid-row: 1/4;
}
.search{
    grid-column: 2/5;
    border-radius: 10px;
    display: grid;
    justify-items: center;
    align-content: flex-start;
}
.search input{
    width: 70%;
    margin: 0;
    height: 60px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: aliceblue;
    font-size: 35px;
    padding-left: 21px;
}
.bottom-bar{
    grid-column: 2/5;
}